name: Build and Push

on:
  push:
    branches: [ main ]
    tags:
      - v*

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 17
      uses: actions/setup-java@v3.1.1
      with:
        java-version: '17'
        distribution: 'temurin'
    - name: Install etcd
      run: sudo ./.github/install-etcd.sh
    - name: Build with Maven
      run: mvn -B package --file pom.xml
  build:
    needs: test
    runs-on: ubuntu-latest

    env:
      IMAGE_NAME: modelmesh

    steps:
      - uses: actions/checkout@v2

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v2

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

      - name: export version variable
        run: |
          GIT_COMMIT=$(git rev-parse HEAD)
          BUILD_ID=$(date '+%Y%m%d')-$(git rev-parse HEAD | cut -c -5)
          
          IMAGE_ID=kserve/$IMAGE_NAME

          # Change all uppercase to lowercase
          IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')

          # Strip git ref prefix from version
          VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')

          # Strip "v" prefix from tag name
          # [[ "${{ github.ref }}" == "refs/tags/"* ]] && VERSION=$(echo $VERSION | sed -e 's/^v//')

          # Use Docker `latest` tag convention
          [ "$VERSION" == "main" ] && VERSION=latest

          echo "GIT_COMMIT=$GIT_COMMIT" >> $GITHUB_ENV
          echo "BUILD_ID=$BUILD_ID" >> $GITHUB_ENV
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "IMAGE_ID=$IMAGE_ID" >> $GITHUB_ENV

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          platforms: linux/amd64,linux/arm64/v8,linux/ppc64le,linux/s390x
          push: true
          tags: ${{ env.IMAGE_ID }}:${{ env.VERSION }}
          build-args: |
            imageVersion=${{ env.VERSION }}
            buildId=${{ env.BUILD_ID }}
            commitSha=${{ env.GIT_COMMIT }}
